html, body {
  margin: 0;
  padding: 0;
  background: #ccc;
}

.container {
  padding: 0;
  margin: 0 auto;
  max-width: 760px;
}

.toolbar {
  background: #607D8B;
  padding: 20px;
}

.btn {
  background: #e91e63;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 25px;
  border: 3px solid #fff;
  cursor: pointer;
  width: 110px;
  outline: none;
}

.btn:hover {
  background: #9C27B0;
}

.btn .fa {
  font-size: 40px;
}

.text {
  padding: 20px;
  margin: 0;
  font-size: 18px;
  font-family: monospace;
  background: #fff;
}

.audio-list {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background: #607D8B;
}

.audio-list li {
  padding: 0;
  font-size: 16px;
  font-family: monospace;
  background: #dcedfb;
  margin-bottom: 1px;
}

.btn-li {
    margin: 0;
    padding: 9px;
    background: #fff;
    width: 37px;
    height: 37px;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none;
}

.btn-li.btn-play {
  background: #2196F3;
}

.btn-li.btn-remove {
  background: #ea4063;
}


.btn-li:hover {
  background: #9C27B0;
}


